name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Updated from v3

      - name: Set up JDK 11
        uses: actions/setup-java@v4 # Updated from v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload artifact
        uses: actions/upload-artifact@v4 # Updated from v2
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
